extends layout

block content
  div.main-container
    form(method='POST' action='/log-in')
      div.username-div
        label(for='username') Username:
        input(type='text' name='username' required='true')
      div.password-div
        label(for='password') Password:
        input(type='password' name='password' required='true')
      button.form-btn(type='submit') Log In