extends layout 

block content 
  div.main-container 
    div
      h3.d-flex.justify-content-center #{user.username}, do you have what it takes to become a member? 
      p.m-4 Correctly answer just one skill-testing question!
      form(method='POST' action='/become-a-member')
        div.form-group
          label(for='answer') What is 2 + 2?
          input(name='answer' class='form-control')
        button(type='submit' class='btn btn-primary') Submit