extends layout

block content
  div.main-container
    form(method='POST' action='')
      div.username-div
        label(for='username') Username:
        input(type='text' name='username' maxlength=16 required='true')
      div.password-div
        label(for='password') Password:
        input(type='password' name='password' maxlength=22 required='true')
        label(for='password') Confirm Password:
        input(type='password' name='password-confirm' maxlength=22 required='true')
      button.form-btn(type='submit') Sign Up